<!-- views/pages/us.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

let dates;
let deaths;
let dailyDeaths;
let cases;
let dailyCases;
let chart;

function gatherData() {
    return $.ajax({
        url: "<%= data.config.url %>/v1/countries/US",
        headers: {
            // TODO: Don't do this.
            "Authorization": "Basic " + btoa("<%= data.config.credentials.name %>:<%= data.config.credentials.password %>")
        },
    }).then(function(data) {
        dates = data.items.map(function(value) {
            return value.date;
        });

        deaths = data.items.map(function(value) {
            return value.deaths;
        });
        dailyDeaths = data.items.map(function(value, index) {
            if (index === 0) {
                return value.deaths;
            }
            return value.deaths - data.items[index - 1].deaths;
        });

        cases = data.items.map(function(value) {
            return value.cases;
        });
        dailyCases = data.items.map(function(value, index) {
            if (index === 0) {
                return value.cases;
            }
            return value.cases - data.items[index - 1].cases;
        });
    });
}

function drawGraph() {
    const canvas = document.getElementById('usPlot');
    const ctx = canvas.getContext('2d');

    let cumulativeData;
    let dailyData;
    let selection;

    const optCases = document.getElementById('optCases');
    if (optCases.checked) {
        cumulativeData = cases;
        dailyData = dailyCases;
        selection = 'Cases';
    } else {
        cumulativeData = deaths;
        dailyData = dailyDeaths;
        selection = 'Deaths';
    }

    if (chart) {
        chart.destroy();
    }

    chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: `Cumulative ${selection}`,
                data: [...cumulativeData],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1,
                yAxisID: 'total'
            }, {
                label: `Daily ${selection}`,
                data: [...dailyData],
                backgroundColor: [
                    'rgba(99, 132, 255, 0.2)',
                ],
                borderColor: [
                    'rgba(99, 132, 255, 1)',
                ],
                borderWidth: 1,
                yAxisID: 'daily'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    id: 'total',
                    position: 'left',
                    ticks: {
                        beginAtZero: true
                    }
                }, {
                    id: 'daily',
                    position: 'right',
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
}

function redrawGraph() {
    drawGraph();
}

function updateCounts() {
    let eTodayCases = document.getElementById("todayCases");
    let eYesterdayCases = document.getElementById("yesterdayCases");
    let eAvgCases = document.getElementById("avgCases");
    let eTodayDeaths = document.getElementById("todayDeaths");
    let eYesterdayDeaths = document.getElementById("yesterdayDeaths");
    let eAvgDeaths = document.getElementById("avgDeaths");

    const todayCases = dailyCases[dailyCases.length - 1];
    const yesterdayCases = dailyCases[dailyCases.length - 2];
    const avgCases = dailyCases
        .slice(dailyCases.length - 9, dailyCases.length - 2)
        .reduce((a, b) => a + b, 0) / 7;
    const todayDeaths = dailyDeaths[dailyDeaths.length - 1];
    const yesterdayDeaths = dailyDeaths[dailyDeaths.length - 2];
    const avgDeaths = dailyDeaths
        .slice(dailyDeaths.length - 9, dailyDeaths.length - 2)
        .reduce((a, b) => a + b, 0) / 7;

    eTodayCases.innerHTML = `${todayCases}`;
    eYesterdayCases.innerHTML = `${yesterdayCases}`;
    eAvgCases.innerHTML = `${Math.round(avgCases)}`;
    eTodayDeaths.innerHTML = `${todayDeaths}`;
    eYesterdayDeaths.innerHTML = `${yesterdayDeaths}`;
    eAvgDeaths.innerHTML = `${Math.round(avgDeaths)}`;
}

$( document ).ready(function() {
    gatherData().then(function() {
        drawGraph();
        updateCounts();
    });
});

</script>

<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Cases</th>
                    <th scope="col">Deaths</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Today</th>
                    <td>Lorem</td>
                    <td>Ipsum</td>
                </tr>
                <tr>
                    <th scope="row">Yesterday</th>
                    <td>Lorem</td>
                    <td>Ipsum</td>
                </tr>
                <tr>
                    <th scope="row">7 Day Avg</th>
                    <td>Lorem</td>
                    <td>Ipsum</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h5>Today</h5>
        </div>
        <div class="col-md-4">
            <h5>Yesterday</h5>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Cases</label>
        </div>
        <div class="col-md-1">
            <p id="todayCases"></p>
        </div>
        <div class="col-md-1">
            <label>Cases</label>
        </div>
        <div class="col-md-1">
            <p id="yesterdayCases"></p>
        </div>
        <div class="col-md-1">
            <label>7-day Avg</label>
        </div>
        <div class="col-md-1">
            <p id="avgCases"></p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Deaths</label>
        </div>
        <div class="col-md-1">
            <p id="todayDeaths"></p>
        </div>
        <div class="col-md-1">
            <label>Deaths</label>
        </div>
        <div class="col-md-1">
            <p id="yesterdayDeaths"></p>
        </div>
        <div class="col-md-1">
            <label>7-day Avg</label>
        </div>
        <div class="col-md-1">
            <p id="avgDeaths"></p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Cases
                <input type="radio" id="optCases" name="chartData" value="cases" onclick="redrawGraph()" checked />
            </label>
        </div>
        <div class="col-md-1">
            <label>Deaths
                <input type="radio" id="optDeaths" name="chartData" value="deaths" onclick="redrawGraph()" />
            </label>
        </div>
        <div class="col-md-10"></div>
    </div>
    <div class="row">
        <div class="jumbotron">
            <canvas id="usPlot"></canvas>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>